@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Rubik+Mono+One&family=Syne:wght@400;500;600;700;800&display=swap');

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    color: #252525;
    background-color: rgba(255, 195, 158, 0);
    box-shadow: 0px 0px 0px #2525252f;
    transition:2s ease;
    /* transition: box-shadow 2s ease; */
    padding: 0.6% 1%;
  }

  .logo-nav{
    color: #000;
    border-top: solid 4px #00664F;
  }

  .scrolled {
    box-shadow: 0 3px 5px #2525258a;
    background-color: #b3ecbdc5;
    color: #00664F;

  }
  
  .navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
  }
  
  .logo {
    padding: 0;
    /* font-family: 'Fredoka One', cursive; */
    font-size: 1.5rem;
    font-weight: 500;
    transition: 0.5s ease-in-out;
  }


  .logo:hover{
    cursor: pointer;
    background-color: #1deb690e;
    text-shadow: 0px 0px 30px #1deb68;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    margin: 0 100px 0 0;
    padding: 0;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
  }
  
  .nav-link {
    /* margin-left: 16px; */
    /* color: #252525; */
    /* font-size: 1.5rem; */
    /* font-weight: 500; */
    /* padding: 0 6%; */
    /* transition: 2s ease; */
  }

  .nav-css{
    color: #252525;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 0 6%;
    transition: 0.5s ease-in-out;
    text-shadow: 0px 0px 0px  #0000003f;
  }

  .nav-css:hover{
    cursor: pointer;
    background-color: #1deb690e;
    text-shadow: 0px 0px 40px #1deb68;
  }

  .scrolled-link{
    color: aliceblue;
  }

  a{
    text-decoration: none;
  }

  /* For devices with a maximum width of 768px */
@media only screen and (max-width: 768px) {
  .navbar {
    padding: 0.6% 5%;
  }

  .navbar-content {
    flex-wrap: wrap;
  }

  .nav-links {
    margin: 16px 0;
    justify-content: space-between;
    width: 100%;
  }

  .nav-css {
    padding: 0;
  }
}

/* For devices with a maximum width of 576px */
@media only screen and (max-width: 576px) {
  .logo {
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 5% 0 5% 0;
    position: absolute;
    left: 30%;
    font-size: 2.5rem;
    
  }

  .navbar{
    padding: 5% 0 5% 0;
  }

  .scrolled{
    background-color: #b3ecbd;

  }

  .nav-links {
    flex-direction: column;
    align-items: center;
    display: none;
  }

  .nav-links.show {
    display: flex;
    margin: 16px 0;
    width: 100%;
  }

  .nav-link {
    margin: 16px 0;
  }
}

@media only screen and (max-width: 400px) {
  .logo {
    padding: 5% 0 5% 0;
    position: absolute;
    left: 30%;
    font-size: 2.5rem;
    
  }

  .navbar{
    padding: 5% 0 5% 0;
  }

  .scrolled{
    background-color: #b3ecbd;

  }

  .nav-links {
    flex-direction: column;
    align-items: center;
    display: none;
  }

  .nav-links.show {
    display: flex;
    margin: 16px 0;
    width: 100%;
  }

  .nav-link {
    margin: 16px 0;
  }
}

